<h1>Products#index</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Simple formatted raw data</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.title %></td>
        <td><%= simple_format(product.to_json.to_s.gsub(/\,/, "\n")) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
